[user]
	email = lowskydev@gmail.com
	name = whywiki
	signingkey = E18B837B5B9813FE
[commit]
	gpgsign = true
[credential]
	helper = store
[core]
	editor = nvim
[init]
	defaultBranch = main

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[difftool]
    prompt = false

[merge]
    tool = diffview
    conflictstyle = diff3

[mergetool "diffview"]
    cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[mergetool]
    prompt = false
    keepBackup = false

[alias]
	unstage = restore --staged
	last = log -1 HEAD
